<div class="col-md-12 portlet portlet_images">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-picture-o" aria-hidden="true"></i>
            <%console.log(data)%>
            <%if(data.title) {%><%=data.title%><%} else {%>Image Gallery<% } %>
        </div>
        <div class="col-md-12 portlet_content">
            <div class="row">
                <div class="col-md-12 portlet_images">
                    <div id="nanoGallery2" style="width: 90%">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>