<div class="col-md-12 portlet portlet_generate_report">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-file" aria-hidden="true"></i>
			Generate Report
		</div>
		<div class="col-md-12 portlet_content">
		
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								S-Curve
							</th>
							<th class="col_separation set_center">Summary</th>
							<th class="col_separation set_center">S-Curve 1</th>
							<th class="col_separation set_center">S-Curve 2</th>
							<th class="col_separation set_center">S-Curve 3</th>
							<th class="col_separation set_center">S-Curve 4</th>
							<th class="col_separation set_center">S-Curve 5</th>
							<th class="col_separation set_center">S-Curve 6</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> 6 S-Curve</td>
							<td class="set_center"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Viaduct</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Station</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Depot</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground Tunnel</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground Station</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> System</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
							<td class="set_center"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Viaduct
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Progress</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">Key Dates</th>
							<th class="col_separation set_center">KPI</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">S-Curve</th>
							<th class="col_separation set_center">Images</th>
							<th class="col_separation set_center">Pier Charts</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V201</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V202</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V203</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V204</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V205</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V206</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V207</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V208</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V209</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> V210</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Station
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Progress</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">Key Dates</th>
							<th class="col_separation set_center">KPI</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">S-Curve</th>
							<th class="col_separation set_center">Images</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sg. Buloh</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> D'sara Damai</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sri D'sara West</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sri D'sara East</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Kepong Sentral</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Metro Prima</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Kepong Baru</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Jinjang</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sri Delima</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Kg. Batu</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Kentonmen</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Jln. Ipoh</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Kuchai Lama</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Tmn. Naga Emas</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sg. Besi</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Tech. Park</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Serdang Raya North</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Serdang Raya South</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Sri Kembangan</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> UPM</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Tmn. Universiti</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Equine Park</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Tmn. Putra Permai</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> 16 Sierra</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Cyberjaya North</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Cyberjaya City Centre</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Putrajaya Sentral</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Depot
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Progress</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">Key Dates</th>
							<th class="col_separation set_center">KPI</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">S-Curve</th>
							<th class="col_separation set_center">Images</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Serdang Depot</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								MSPR
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">S-Curve</th>
							<th class="col_separation set_center">Images</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 1</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 2</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 3</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 4</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 5</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 6</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 7</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 8</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 9</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 10</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 11</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 12</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 13</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 14</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> MSPR 15</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Underground
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">Progress</th>
							<th class="col_separation set_center">Summary</th>
							<th class="col_separation set_center">Tunnel Progress</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">S-Curve</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Underground Tunnel
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">Tunnel Progress</th>
							<th class="col_separation set_center">Work Progress</th>
							<th class="col_separation set_center">Images</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground Tunnel</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">
								<span><a href="#"><i class="hidden fa_title_icon fa fa-minus-square" aria-hidden="true"></i><i class="fa_title_icon fa fa-plus-square" aria-hidden="true"></i></a></span>
								Underground Station
							</th>
							<th class="col_separation set_center">Info</th>
							<th class="col_separation set_center">Key Access Dates</th>
							<th class="col_separation set_center">HSSE</th>
							<th class="col_separation set_center">Work Progress</th>
							<th class="col_separation set_center">Images</th>
						</tr>
						<tr>
							<th class="col_separation"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
							<th class="col_separation set_center"><input type="checkbox" name="" value="" checked="true"> All</th>
						</tr>
					</thead>
					<tbody class="hidden">
						<tr>
							<td><input type="checkbox" name="" value="" checked="true"> Underground Station</td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
							<td class="set_center"><input type="checkbox" name="" value="" checked="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="generate_button">
				<button id="generate_pdf" type="button" class="btn btn-success">
					<span><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
					<span>Generate in PDF</span>
				</button>
				<button id="generate_excel" type="button" class="btn btn-primary">
					<span><i class="fa fa-file-excel-o" aria-hidden="true"></i></span>
					<span>Generate in Excel</span>
				</button>
		</div>
		</div>
	</div>
</div>