<div class="col-md-12 portlet portlet_keydates">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
			Key Dates
			<!-- <span class="plate_asof">(As of : 3rd July 2016)</span> -->
		</div>
		<div class="col-md-12 portlet_content">
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">Milestones</th>
							<th class="col_separation set_center">Contract</th>
							<th class="col_separation set_center">Forecast</th>
							<th class="col_separation set_center">Day Left</th>
							<th class="col_separation set_center">Variance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Track Access Date Sg Buloh Line</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">31 Oct 2015</td>
							<td class="set_center">0</td>
							<td class="set_center mrt_colorcode_1">-4 W</td>
						</tr>
						<tr>
							<td>Track Access Date Damansara Damai</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">19 Oct  2015</td>
							<td class="set_center">0</td>
							<td class="set_center mrt_colorcode_2">-3 W</td>
						</tr>
						<tr>
							<td>Track Access Date Sri Damansara West</td>
							<td class="set_center">28 Nov 2015</td>
							<td class="set_center">4 Apr 2016</td>
							<td class="set_center">13</td>
							<td class="set_center mrt_colorcode_3">-21 W</td>
						</tr>
						<tr>
							<td>Track Access Date Sri Damansara East</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">19 Oct 2015</td>
							<td class="set_center">0</td>
							<td class="set_center mrt_colorcode_1">-3 W</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>