<div class="col-md-12 portlet portlet_keydates">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
            <%=data.title%>
        </div>
        <div class="col-md-12 portlet_content">
            <div class="row">
                <div class="error_404">
                    <div class="title">Error 404 : Page Not Found</div>
                    <div class="subtitle">Click <a href="javascript:;" onClick="window.location = baseURL+'dashboard'">here</a> to go to homepage. <!--or <a href="javascript:;" onClick="window.location = baseURL+'dashboard'">Home</a> to go to homepage of this CEODB--></div>
                </div>
            </div>
        </div>
    </div>
</div>