<div class="col-md-12 portlet portlet_info">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
			Package Info
		</div>
		<div class="col-md-12 portlet_content">
			<div class="pc_top">
				<span class="info_title"><%=data.data.name%></span>
				<span class="info_subtitle">Construction And Completion Of Multi Storey Car Park Building, External Works And Other Associated Works (Package <%=data.data.name%>)
				</span>
			</div>
			<div class="pc_bottom">
				<span class="info_subtitle"><%=data.data.contractor%></span>
			</div>
		</div>
	</div>
</div>