<div class="col-md-12 portlet portlet_info">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
            <%=data.title%>
        </div>
        <div class="col-md-12 portlet_content">
            <br><br><br>
            <div class="pc_top">
                <span class="info_title"><%=data.data.name%></span>
            </div>
            <div class="pc_bottom">
                <span class="info_subtitle"><%=data.data.contractor%></span>
            </div>
        </div>
    </div>
</div>