<div class="col-md-12 portlet portlet_procurement_work_package">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-star" aria-hidden="true"></i>
			Status of No. Work Package
		</div>
		<div class="col-md-12 portlet_progress">
			<div class="row">
				<div class="col-md-12 portlet_progress_graph">
					<div style="height:auto; width:auto;position:relative;margin:auto;">
						<div class="chart" id="chart_<%=data.id%>"></div>
						<div><p class="pull-left"><span class="text-red"><small>NOTE:</small></span> <small class="fonts75p">Click on chart to view the list of packages</small></p><!--<p class="pull-right">Data as of 17 October 2014</p>--></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>