<div class="col-md-12 portlet portlet_scurve">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-area-chart" aria-hidden="true"></i>
            S-Curve
        </div>
        <span class="scurve_arrow scurve_arrow_alt scurve_arrow_up"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
        <div class="col-md-12 portlet_content">
            <div class="row">
                <div class="col-md-12 portlet_scurve_graph">
                    <div class="chart chart-scurve2" id="chart_<%=data.id%>"></div>
                </div>
            </div>
        </div>
    </div>
</div>