<div class="col-md-12 portlet portlet_images">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-picture-o" aria-hidden="true"></i>
            Images
        </div>
        <div class="col-md-12 portlet_content">
            <div class="row">
                <div id="sliderFrame">
                    <h4 style="position: absolute; right: 40px; top: 10px; z-index: 999;background: rgba(0, 0, 0, 0.6); padding: 5px; border: 2px solid #201818; border-radius: 2px;">
                        <a style="color: #9EDD2E; outline: none;" href="javascript:void(0);" onclick="loadPage('<%=currentSlug%>/gallery')">Visit
                            Gallery <i class="fa fa-picture-o"></i></a></h4>
                    <div id="slider">
                        <!--<img src='http://localhost/mpxd/assets/templates/butterfly.jpg' alt='Depot 1 - 23-January-16 to 29-January-16'/>-->
                        <!--<img src='http://localhost/mpxd/assets/templates/city.jpg' alt='Depot 1 - 23-January-16 to 29-January-16'/>-->
                        <!--<img src='http://localhost/mpxd/assets/templates/desert.jpg' alt='Depot 1 - 23-January-16 to 29-January-16'/>-->
                        <!--<img src='http://localhost/mpxd/assets/templates/flower.jpg' alt='Depot 1 - 23-January-16 to 29-January-16'/>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>