<div class="col-md-12 portlet portlet_tunnel_progress">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
			Tunnel Progress
		</div>
		<div class="col-md-12 portlet_content">

			<ul class="nav nav-tabs">
				<li class="show_Rings active"><a href="#">Rings</a></li>
				<li class="show_Trackbed "><a href="#">Trackbed</a></li>
				<li class="show_Bracket "><a href="#">Bracket</a></li>
				<li class="show_ES1 "><a href="#">ES1</a></li>
				<li class="show_ES3 "><a href="#">ES3</a></li>
				<li class="show_IVS1 "><a href="#">IVS1</a></li>
				<li class="show_IVS2 "><a href="#">IVS2</a></li>
			</ul>

			<div class="">

				<table class="table show_Rings">
					<thead>
					<tr class="title">
						<th colspan="2">Rings</th>
					</tr>
					<tr>
						<th class="col_separation">Item</th>
						<th class="col_separation set_center">Progress (%)</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Ring</td>
						<td class="set_center">88%</td>
					</tr>
					<tr>
						<td>Cumulating Ring</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_Trackbed hidden">
					<thead>
					<tr class="title">
						<th colspan="5">Trackbed</th>
					</tr>
					<tr>
						<th class="col_separation">January/16</th>
						<th class="col_separation set_center">Wk 1</th>
						<th class="col_separation set_center">Wk 2</th>
						<th class="col_separation set_center">Wk 3</th>
						<th class="col_separation set_center">Wk 4</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>% Completed - Trackbed</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_Bracket hidden">
					<thead>
					<tr class="title">
						<th colspan="5">Bracket</th>
					</tr>
					<tr>
						<th class="col_separation">October/16</th>
						<th class="col_separation set_center">Wk 1</th>
						<th class="col_separation set_center">Wk 2</th>
						<th class="col_separation set_center">Wk 3</th>
						<th class="col_separation set_center">Wk 4</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>% Completed - Bracket</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_ES1 hidden">
					<thead>
					<tr class="title">
						<th colspan="2">Escape Shaft 1</th>
					</tr>
					<tr>
						<th class="col_separation">Item</th>
						<th class="col_separation set_center">Progress (%)</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Excavation ES1</td>
						<td class="set_center">88%</td>
					</tr>
					<tr>
						<td>RC Structure</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_ES3 hidden">
					<thead>
					<tr class="title">
						<th colspan="2">Escape Shaft 3</th>
					</tr>
					<tr>
						<th class="col_separation">Item</th>
						<th class="col_separation set_center">Progress (%)</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Excavation ES3</td>
						<td class="set_center">88%</td>
					</tr>
					<tr>
						<td>RC Structure</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_IVS1 hidden">
					<thead>
					<tr class="title">
						<th colspan="2">Intervention Ventilation Shaft 1</th>
					</tr>
					<tr>
						<th class="col_separation">Item</th>
						<th class="col_separation set_center">Progress (%)</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Excavation IVS1</td>
						<td class="set_center">88%</td>
					</tr>
					<tr>
						<td>RC Structure</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

				<table class="table show_IVS2 hidden">
					<thead>
					<tr class="title">
						<th colspan="2">Intervention Ventilation Shaft 2</th>
					</tr>
					<tr>
						<th class="col_separation">Item</th>
						<th class="col_separation set_center">Progress (%)</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Excavation IVS2</td>
						<td class="set_center">88%</td>
					</tr>
					<tr>
						<td>RC Structure</td>
						<td class="set_center">88%</td>
					</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>