<div class="col-md-12 portlet portlet_pierchart">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-cube" aria-hidden="true"></i>
			Pier Chart
		</div>
		<div class="col-md-12 portlet_content">
			<div class="legend_pierchart">
				<span class="brick brick1"></span>
				<span class="item_title">Not Yet Started</span>
				<span class="brick brick2"></span>
				<span class="item_title">Under Construction</span>
				<span class="brick brick3"></span>
				<span class="item_title">Complete</span>
				<!-- <span class="brick delay_mark"></span> -->
				<!-- <span class="item_title">Delayed</span> -->
				<span class="brick legend_station"></span>
				<span class="item_title">Station</span>
				<span class="brick legend_special_span"></span>
				<span class="item_title">Special Span</span>
			</div>
			<div class="chart_pierchart">
				<div id="pier_plate_v201" class="pier_plate"></div>
			</div>
		</div>
	</div>
</div>